.messagebox {
position: fixed;
bottom: 0;
width: 100%;
height: 50px;
background-color: #88888896;
}

.webbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50px;
    margin: 0%;
    background-color: blanchedalmond;
}

.sidebar {
    position: fixed;
    right: 0%;
    width: 8%;
    height: 200%;
    background-color: #888888;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.messagetext {
    display: inline-block;
    vertical-align: middle;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-inline-start: 0;
}

.pagesplitter {
    display: flex;
    width: 100%;
}
.leftbox {
    margin-left: 0;
    width: 40%;
    margin: 2%;
    outline-width: 2px;
    outline-color: black;
}
.rightbox {
    margin-left: auto;
    margin-right: 0;
    width: 40%;
    margin: 2%;
    outline-width: 2px;
    outline-color: black;
}

.spookybutton {
    border: none;
    opacity: 0.5;
}
.spookybutton:hover {
    opacity: 1
}

.popup-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    position: relative;
}

.scrollbox {
    border: 1px solid #ccc;
    width: auto;
    height: 300px;
    overflow: auto;
    padding: 10px;
}

.highlight {
    background-color: skyblue;
    border: 2px solid skyblue;
    color: black;
}

menu {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    margin: 0;
    white-space: nowrap;
    background-color: beige;
}