.messagebox {
position: fixed;
bottom: 0;
width: 100%;
height: 50px;
background-color: #88888896;
}

.webbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50px;
    margin: 0%;
    background-color: blanchedalmond;
}

.sidebar {
    position: fixed;
    right: 0%;
    width: 8%;
    height: 200%;
    background-color: #888888;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.messagetext {
    display: inline-block;
    vertical-align: middle;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-inline-start: 0;
}

.pagesplitter {
    display: flex;
    width: 100%;
}
.leftbox {
    margin-left: 0;
    width: 40%;
    margin: 2%;
    outline-width: 2px;
    outline-color: black;
}
.rightbox {
    margin-left: auto;
    margin-right: 0;
    width: 40%;
    margin: 2%;
    outline-width: 2px;
    outline-color: black;
}